<!-- The content below is only a placeholder and can be replaced.
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div class="container">
  <ul class="nav nav-tabs">
    <li routerLinkActive='active'>
      <a data-toggle="tab" routerLink="account-details">Account-details </a>
    </li>
    <li routerLinkActive="active">
      <a data-toggle="tab" routerLink="profile">Profile </a>
    </li>
    <li routerLinkActive="active">
      <a data-toggle="tab" routerLink="login">login</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade in active">
      <router-outlet></router-outlet>
    </div>
  </div> -->


<div class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Bank</a>
      </div>
      <ul class="nav navbar-nav">
        <li routerLinkActive='active'>
          <a routerLink="account-details">Account-details </a>
        </li>
        <!-- <li routerLinkActive="active">
          <a routerLink="profile">Profile </a>
        </li>         -->
        <li routerLinkActive="active"><a routerLink="history">History</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="!isLogin" routerLinkActive="active"><a  routerLink="login"><span class="glyphicon glyphicon-log-in"></span> Login</a>
        </li>
        <li *ngIf="isLogin" routerLinkActive="active"><a href="#" (click)="logOff()">
            <span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      </ul>
    </div>
  </nav>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>