<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">User Profile Name</div>
    <div class="panel-body">
      <ul>
        <li>Account: ICICI</li>
        <li>Branch: Manyatha Tech park</li>
        <li>Verified Adhar: Yes</li>
        <li>Available amount: 10002.20</li>
      </ul>
    </div>
    <div class="panel-footer">
      <div class="btn-toolbar">
        <button type="submit" class="btn btn-success">Transfor Amount</button>
        <button type="submit" class="btn btn-success">Back to Dashboard</button>
      </div>
    </div>
  </div>
  <style>
    li {
      list-style: none;
    }
  </style>